[Unit]
Description=loginserver
After=network.target

[Service]
WorkingDirectory=/tmp/
SyslogIdentifier=loginserver
ExecStart=/bin/sh -c "exec java -jar /usr/local/source/repo-03/services/login-server.jar"
Type=simple

[Install]
WantedBy=multi-user.target