[Unit]
Description=registerserver
After=network.target

[Service]
WorkingDirectory=/tmp/
SyslogIdentifier=registerserver
ExecStart=/bin/sh -c "exec java -jar /usr/local/source/repo-03/services/register-server.jar"
Type=simple

[Install]
WantedBy=multi-user.target