/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/ 
body{
	margin:0;
	background:url(../img/bg-body.jpg);
}
.page{
	background:url(../img/bg-header.jpg) no-repeat center top;
}

/*------------------------- Font ------------------------*/ 
@font-face {
    font-family: 'RokkittRegular';
    src: url('rokkitt-regular-webfont.eot');
    src: url('rokkitt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('rokkitt-regular-webfont.woff') format('woff'),
         url('rokkitt-regular-webfont.ttf') format('truetype'),
         url('rokkitt-regular-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------- Header ------------------------*/ 
.header{
	background:url(../img/bg-navigation.jpg) no-repeat center 90px;
	width:940px;
	margin:0 auto;
	height:105px;
	padding:36px 10px 0;
}
.header a#logo{
	display:block;
	float:left;
	outline:none;
}
.header a#logo img{
	border:0;
    width: 50px;
    height: 50px;
}
.header ul{
	margin:0;
	list-style:none;
	padding:13px 0 0;
	float:right;
}
.header ul li{
	float:left;
	margin:0 0 0 63px;
}
.header ul li.selected a,.header ul li a:hover{
	color:#66ccff;

}
.header ul li a{
	font-size:16px;
	text-decoration:none;
	color:#5e5e5e;
	font-family: 'RokkittRegular';
	outline:none;
}

/*------------------------- Body ------------------------*/ 
.body{
	width:940px;
	margin:0 auto;
	padding:0 10px;
	overflow:hidden;
}
.body div#featured{
	background:url(../img/Cybersecurity.png) no-repeat right center;
	height:448px;
	padding: 0 0 17px;
}
.body div#featured h3{
	color:#66ccff;
	font-size:36px;
	font-family: 'RokkittRegular';
	margin:0 0 30px;
	width:490px;
	padding:30px 0 0;
	font-weight:normal;
}
.body div#featured p{
	width:480px;
	color:#5d5d5d;
	font-family: 'RokkittRegular';
	font-size:16px;
	line-height:25px;
	text-shadow: 0 1px 0 #fcfcfc;
	text-align:justify;
	margin:0;
}
.body div#featured input{
	background:url(../img/interface.jpg) no-repeat;
	border:0;
    height:48px;
    width:216px;
	font-family: 'RokkittRegular';
	color:#fff;
	font-size:30px;
	margin:28px 0 0 125px;
	cursor:pointer;
	outline: none;
    box-shadow: 2px 2px 1px #888888;
}
.body div#featured2{
	background:url(../img/impressum.png) no-repeat right center;
	height:448px;
	padding: 0 0 17px;
}
.body ul.news{
	list-style:none;
	margin:40px 0 0;
	padding:0 0 50px;
	background:url(../img/separator.jpg) no-repeat center top;
	overflow:hidden;
}
.body ul.news li:first-child{
	margin:60px 0 0;
}

.body ul.news li{
	float:left;
	background:url(../img/interface.jpg) no-repeat 0 -68px!important;
	margin:60px 0 0 48px;
	height:300px;
	padding:0;
}

.body ul.news li div{
	width:281px;
	height:380px;
	text-align:center;
	padding: 8px 0 20px 0;
	float:none;
	margin:0;
	background:none;
}

.body ul.news li div p{
	width:258px;
	text-align:justify;
	color:#828081;
	font-family: 'RokkittRegular';
	margin:17px 0 0 10px;
	line-height:20px;
	font-size:14px;
	background:none;
	padding:0;
}

.body h3{
	font-family: 'RokkittRegular';
	font-size:16px;
	font-weight:bold;
	color:#636363;
	margin:15px 0 0;
	line-height:21px;
}

.body p{
	font-family: 'RokkittRegular';
	font-size:16px;
	text-align:justify;
	color:#636363;
	margin:0 0 20px;
	line-height:21px;
}

/*------------------------- Footer ------------------------*/ 
.footer{
	width:940px;
	background:url(../img/bg-footer.jpg) no-repeat center top;
	padding:65px 10px 207px;
	margin:0 auto;
	overflow:hidden;
}
.footer ul{
	list-style:none;
	margin:0 0 0 60px;
	padding:0;
	overflow:hidden;
	float:left;
}
.footer ul li:first-child a{
	border:none;
	padding:0 6px 0 0;
}
.footer ul li{
	float:left;
}
.footer ul li a:hover{
	color:#66ccff;
}
.footer ul li a{
	border-width: 1px;
	border-color:#5b5b5b;
	border-style: none none none solid;
	color:#5b5b5b;
	font-size:10px;
	font-family: Trebuchet MS;
	text-decoration:none;
	font-weight:bold;
	padding:0 6px;
	outline:none;
}
.footer p{
	color:#5b5b5b;
	font-size:10px;
	font-family: Trebuchet MS;
	font-weight:bold;
	float:left;
	margin:6px 0 0 135px;
}
.footer div.connect{
	float:left;
	margin:0 0 0 92px;
}
.footer div.connect a{
	float:left;
	outline:none;
}
.footer div.connect a#facebook{
	width:27px;
	height:28px;
	display:block;
	text-indent:-9999px;
	background:url(../img/icons.gif) no-repeat;
}
.footer div.connect a#twitter{
	width:36px;
	height:28px;
	display:block;
	text-indent:-9999px;
	background:url(../img/icons.gif) no-repeat 0 -48px;
	margin:0 0 0 68px;
}
.footer div.connect a#vimeo{
	width:32px;
	height:28px;
	display:block;
	text-indent:-9999px;
	background:url(../img/icons.gif) no-repeat 0 -96px;
	margin:0 0 0 73px;
}
